<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>93070175794-mreah2h45jormh56b93kp1o4582obbnk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.93070175794-mreah2h45jormh56b93kp1o4582obbnk</string>
	<key>API_KEY</key>
	<string>AIzaSyApoVE28IRHIFSSuPjgfN49J-8w5K7HjPw</string>
	<key>GCM_SENDER_ID</key>
	<string>93070175794</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vitalrpm</string>
	<key>PROJECT_ID</key>
	<string>vitalrpm-7cd41</string>
	<key>STORAGE_BUCKET</key>
	<string>vitalrpm-7cd41.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:93070175794:ios:538992be265753c4f0d62b</string>
</dict>
</plist>